version: "3.9"

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: mesa_challenge
      POSTGRES_USER: mesa
      POSTGRES_PASSWORD: mesa
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
